@model DaneshkarShop.Application.DTOs.AdminSide.User.EditUserAdminSideDTO

@{
    ViewData["Title"] = "نمایش اطلاعات کاربر";
    List<DaneshkarShop.Domain.Entities.Role.Role> Roles = ViewData["Roles"] as List<DaneshkarShop.Domain.Entities.Role.Role>;
}

<div class="content-wrapper" style="min-height: 805px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>نمایش اطلاعات @Model.UserName</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="/Admin">خانه</a></li>
                        <li class="breadcrumb-item active"> نمایش کاربر   </li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-7">
                        <!-- general form elements -->
                        <div class="card card-warning">
                            <div class="card-header">
                                <h3 class="card-title">اطلاعات کاربری @Model.UserName </h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <div role="form" asp-action="Create" asp-controller="User" asp-area="Admin">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"> نام کاربری </label>
                                        <input type="text" asp-for="UserName" readonly class="form-control" id="exampleInputEmail1">
                                        <span asp-validation-for="UserName" class="text-danger"></span>

                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputEmail1"> شماره تلفن   </label>
                                        <input type="text" asp-for="Mobile" readonly class="form-control" id="exampleInputEmail1">
                                        <span asp-validation-for="Mobile" class="text-danger"></span>

                                    </div>

                                </div>
                                <!-- /.card-body -->

                                <div class="card-footer">
                                    <a asp-action="Index" asp-controller="User" asp-area="Admin" class="btn btn-primary">بازگشت به عقب </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">

                        <div class="row">
                            <!-- Horizontal Form -->
                            <!-- Horizontal Form -->
                            <div class="card card-warning col-md-12">
                                <div class="card-header">
                                    <h3 class="card-title">  تصویر  </h3>
                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->
                                <div class="form-horizontal">
                                    <div class="card-body row">
                                        @if (string.IsNullOrEmpty(Model.OriginalAvatar))
                                        {
                                            <img style="margin:auto; width:342px" id="imgAvatar" class="img-responsive rounded" src="/Images/UserAvatar/Defult.jpg" alt="upload_img">
                                        }
                                        else
                                        {
                                            <img style="margin:auto; width:342px" id="imgAvatar" class="img-responsive rounded" src="/Images/UserAvatar/@Model.OriginalAvatar" alt="upload_img">
                                        }
                                    </div>
                                    <!-- /.card-body -->
                                    <!-- /.card-footer -->
                                </div>
                            </div>

                            <div class="card card-warning col-md-12">
                                <div class="card-header">
                                    <h3 class="card-title">  نقش ها   </h3>
                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->
                                <div class="form-horizontal">

                                    <div class="form-group">

                                        <div class="form-check">
                                            @if (Roles != null && Roles.Any())
                                            {
                                                foreach (var role in Roles)
                                                {
                                                    <br />
                                                    if (Model.CurrentUserRolesId.Any(e => e == role.Id))
                                                    {
                                                        <input readonly class="form-check-input" type="checkbox" name="SelectedRoles" value="@role.Id" checked />
                                                        <label class="form-check-label" style="margin-right:15px">@role.RoleUniqueName </label>
                                                    }
                                                    else
                                                    {
                                                        <input readonly class="form-check-input" type="checkbox" name="SelectedRoles" value="@role.Id" />
                                                        <label class="form-check-label" style="margin-right:15px">@role.RoleUniqueName </label>
                                                    }



                                                }
                                            }
                                        </div>

                                    </div>                            <!-- /.card-footer -->
                                </div>
                            </div>
                        </div>

                    </div>

                    <!--/.col (right) -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>


</div>
